
<h1 class="text-center">Home</h1>

<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-sm-12 col-md-10 col-9">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium omnis accusamus odio rem. Minima earum quam magnam saepe numquam possimus sint eum deleniti ex! In excepturi cumque perferendis assumenda perspiciatis!
        Vero impedit magnam enim reiciendis accusantium velit sapiente minima molestiae, modi voluptatum, ut omnis itaque magni eveniet doloribus animi incidunt exercitationem saepe quod similique dignissimos rem nesciunt quas. Nulla, dolor.
        Libero alias voluptatem iste amet deserunt totam quasi ipsum cumque vero repellat nulla excepturi repellendus, in adipisci delectus consectetur, molestiae et consequatur dignissimos. Fuga provident architecto molestiae assumenda, exercitationem delectus.
        Iusto tempora odio, dicta minus quidem commodi ea enim alias voluptatibus eaque amet ullam iste expedita mollitia. Dolorum sunt eligendi tenetur. Repellendus eum tenetur quia consequatur impedit distinctio eligendi labore.
        Molestiae quaerat earum quia vitae natus nemo, asperiores et porro magni commodi illum cupiditate quae quam saepe temporibus exercitationem tenetur voluptas dicta iusto corrupti id? Delectus neque explicabo et odio.
        Eos possimus mollitia ipsam illo debitis fugit sequi excepturi numquam voluptate veniam. Perspiciatis aliquam eligendi quia commodi tempore? Exercitationem commodi consectetur eveniet doloremque ullam at cumque nobis cupiditate, ab atque?
        Impedit labore voluptates placeat similique dicta excepturi veniam fuga sapiente iste nemo modi maiores ipsum ex molestias, ad corrupti blanditiis inventore quas velit dolor. Eum libero aliquid consequuntur id cumque.
        Sit, veritatis ipsum distinctio nobis natus dolore quaerat optio consectetur, sunt ullam voluptatibus saepe nemo delectus fuga explicabo autem consequatur dignissimos rerum architecto rem soluta. Necessitatibus voluptates laborum expedita voluptas.
        Nihil quos eveniet fuga, ipsam voluptatem quod. Esse nobis nihil hic nam quaerat, obcaecati porro autem numquam architecto tempore illum consectetur vel minima, repudiandae dolores unde repellendus odio. Maiores, tempore!
        Accusamus, asperiores officia. Impedit quo repudiandae necessitatibus iste! At consectetur repudiandae placeat soluta reprehenderit eos laborum labore earum delectus, modi nihil, dicta nostrum magni, ab voluptatibus natus doloremque molestias excepturi?
      </p>
    </div>
  </div>
</div>
